/* css styles for header to display the logo and logout button */

.yoa-admin-header{
	background-color: rgba(18, 86, 141, 0.5);
	padding:1em 7em;
}
.logo-image{
    width : 20%;
    height : 20%;
}
.logout-btn{
    float: right;
    margin-top: 2%;
    width:8vw;
    height: 7vh;
    cursor: pointer;
    border-radius: 7px;
}
.logout-btn:hover{
    background-color: rgba(96, 158, 209, 0.5); 
    outline: none;
}