<!-- Author      :Rithika
Date             :15-03-2019
Description      : Html code for create article form with fields such as brief,body and description 
-->

<!-- title -->

<div class="loginForm">
    
  <!-- content -->
  <div class="sub-main-w3">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
   
      <h2>Create Article</h2>
      <div class="form-style-agile">       
        <input type="text"  id="heading" placeholder="Heading" required minlength="5" maxlength="30" [ngModel]="model?.heading" (ngModelChange)="model.heading=$event"  name="heading" #heading="ngModel">
      <div *ngIf="heading.errors && (heading.dirty || heading.touched)" class="alert alert-danger">
        <div [hidden]="!heading.errors.required">
          Heading is required!
        </div>
        <div [hidden]="!heading.errors.minlength">
          heading must be at least 5 characters long.
        </div>
        <div [hidden]="!heading.errors.maxlength">
          Heading cannot be more than 30 characters long.
        </div>
      </div>
      </div>
      <div class="form-style-agile">      
        <input placeholder="Brief" type="text"  id="brief"  required minlength="5" maxlength="30" [ngModel]="model?.brief" (ngModelChange)="model.brief=$event"  name="brief" #brief="ngModel">
        <div *ngIf="brief.errors && (brief.dirty || brief.touched)" class="alert alert-danger">
          <div [hidden]="!brief.errors.required">
           Brief is required!
          </div>
          <div [hidden]="!brief.errors.minlength">
            Brief must be at least 5 characters long.
          </div>
          <div [hidden]="!brief.errors.maxlength">
            Brief cannot be more than 30 characters long.
          </div>
        </div>
      </div>
      <div class="form-style-agile">
        <textarea  rows="5" placeholder="Body"  type="text"  id="body" required minlength="5" maxlength="30" [ngModel]="model?.body" (ngModelChange)="model.body=$event"  name="body" #body="ngModel"></textarea>

        <div *ngIf="body.errors && (body.dirty || body.touched)" class="alert alert-danger">
          <div [hidden]="!body.errors.required">
            Body is required!
          </div>
          <div [hidden]="!body.errors.minlength">
            body must be at least 5 characters long.
          </div>
          <div [hidden]="!body.errors.maxlength">
            Body cannot be more than 30 characters long.
          </div>
        </div>
      </div>
      <img [src]="url" height="200"> <br/>
      <input type='file' (change)="onSelectFile($event)">
      <!-- checkbox -->
      <div class="wthree-text">
        
      </div>
      <!-- //switch -->
      <input type="submit" [disabled]="!f.valid" value="Submit">
    </form>
  </div>
  <div class="clear"></div>
  <!-- //content -->

  <!-- copyright -->
  <div class="footer">
    <p>&copy; 2019 Yoaspire.com. All rights reserved | Design by
      <a href="#">Yoaspire.com</a>
    </p>
  </div>
  <!-- //copyright -->
</div>

