<!-- Author       :Rithika
Date              :15-03-2019
Description       :html form  for edit article form -->

<!-- title -->
<div class="loginForm">

  <!-- content -->
  <div class="sub-main-w3">
    <form #f="ngForm" (ngSubmit)="onSubmit()">

      <h2>Edit Article</h2>
          <div class="form-style-agile">
          <input placeholder="Brief" type="text"  id="brief"  required minlength="5" maxlength="50" [(ngModel)]="articles.brief" (ngModelChange)="model.brief=$event"  name="brief" #brief="ngModel">   
         <div *ngIf="brief.errors && (brief.dirty || brief.touched)" class="alert alert-danger">
          <div [hidden]="!brief.errors.required">
          Brief is required!
          </div>
          <div [hidden]="!brief.errors.minlength">
            Brief must be at least 5 characters long.
          </div>
        
        </div>
      </div>
      <div class="form-style-agile">
       
          <textarea  rows="5" placeholder="Body"  type="text"  id="body" required minlength="5"  [(ngModel)]="articles.body" (ngModelChange)="model.body=$event"  name="body" #body="ngModel"></textarea>

        <div *ngIf="body.errors && (body.dirty || body.touched)" class="alert alert-danger">
          <div [hidden]="!body.errors.required">
            Body is required!
          </div>
          <div [hidden]="!body.errors.minlength">
            Body must be at least 5 characters long.
          </div>
         
        </div>

      </div>
      <!-- checkbox -->
      <div class="wthree-text">

      </div>
      <!-- //switch -->
      <input type="submit" [disabled]="!f.valid" value="Submit">
    </form>
  </div>
  <div class="clear"></div>
  <!-- //content -->
  <div class="footer">
  </div>
</div>