<!--  html view  for displaying the users based on search functionality -->


<div class="searchbar-holder">
  <div class='searchbar-console flex-row'>
    <span>
      <input class="search-input-txt" type='text' name="searchUsers" (change)="onChange($event)" placeholder="Search" />
    </span>
    <button class='search-btn site-btn' (click)="onSearch()">Search</button>
  </div>
  <br />
 
  <div *ngIf="userData;else no_user">
  <div *ngIf="userData.length>0;else no_users">

    <div class="w3-container"  *ngFor="let user of userData" >
        <div class="w3-card-4" style="width:50%;margin-left: 25%;border-radius: 15px 50px 30px;">
          <div class="w3-container" style="background-color:#b8cddd;height:150px;border-radius: 15px 50px 30px; ">
            <div class='img-holder'>
              <img src="https://cdn4.iconfinder.com/data/icons/instagram-ui-twotone/48/Paul-18-512.png" alt="Avatar" class="w3-left w3-circle w3-margin-right article-img" style="width:80px;margin-top:10px;margin-left:10px;">
            </div>
            <p class='article-header-txt'>{{user.first_name}} &nbsp;{{user.last_name}}</p>
            <p class='writer'>{{user.email}}</p>
            <div class='user-btn-holder flex-row'>
              
                    <a [routerLink]="['read']" [queryParams]="{id:user._id }">
                        <button class="delete-btn-user site-btn">View details</button>&nbsp;
                        </a>
                        <a [routerLink]="['friends']" [queryParams]="{id:user._id }">
                  <button class="delete-btn-user site-btn">Friends</button></a>&nbsp;
                  <button class="delete-btn-user site-btn" data-toggle="modal" data-target="#deleteUser">Delete</button>
               
          </div>
          </div>
         
        </div>
        <br/>
        <div class="modal" id="deleteUser">
          <div class="modal-dialog">
          <div class="modal-content">
          
          <div class="modal-body">
           <h4>Do you want to delete article</h4>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" >Delete</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
          
          </div>
          </div>
          </div>
      </div>
    </div>
    <ng-template #no_users><h2 style="margin-left:45%">No users</h2></ng-template></div>
    <ng-template #no_user><h2 style="margin-left:45%">No users</h2></ng-template></div>
