<!-- Author       : Rithika 
      Date        : 16-03-2019
      Description : Html doc for displaying the created  bulletins 
-->

<div class="w3-container" *ngFor="let bulletins of bulletinsData"  >
  <div class="w3-card-4" style="width:60%;margin-left: 20%">
    <div class="w3-container" style="background-color:#b8cddd; ">
      <div class='img-holder'>
        <img src="https://cdn4.iconfinder.com/data/icons/instagram-ui-twotone/48/Paul-18-512.png" alt="Avatar" class="w3-left w3-circle w3-margin-right article-img" style="width:80px;margin-top:10px;">
      </div>
      
      <p class='article-brief'><b>{{bulletins.by.first_name}}&nbsp;{{bulletins.by.first_name}}</b></p>
      <p class='article-header-txt'>{{bulletins.heading}}</p>
       <p class='writer'>{{bulletins.brief}}</p>
       <p class='writer'>{{bulletins.desc}}</p>
       <br/><br/>
     <button>Read</button>
    </div>
  </div>
  <br/>
</div>
