<!-- html document for navbar styles with icons -->

<div class='navbar-container'>
  <div class='navbar flex-row'>
    <div class='navbar-item flex-column'>
      <a [routerLink]="['dashboard'] " class="active ">
        <i class='fa fa-dashboard size'>
          <p>Dashboard</p>
        </i>
      </a>
    </div>
    <div class='navbar-item flex-column'>
      <a [routerLink]="['users'] "  class="active ">
        <i class="fa fa-group size" >
          <p>Users</p>
        </i>
    </a>
    </div>
    <div class='navbar-item flex-column'>
      <a [routerLink]="['complaints'] "  class="active ">
        <i class="fa fa-comment size">
          <p>Complaints</p>
        </i>
   </a>
    </div>
    <div class='navbar-item flex-column'>
      <a [routerLink]="['article'] "  class="active ">
        <i class="fa fa-newspaper-o size" >
          <p>Articles</p>
        </i>
   </a>
    </div>
    <div class='navbar-item flex-column'>
      <a [routerLink]="['bulletins'] "  class="active ">
        <i class="fa fa-newspaper-o size">
          <p>Bulletins</p>
        </i>
        </a>
    </div>
    <div class='navbar-item flex-column'>
      <a [routerLink]="['drives'] "  class="active ">
        <i class="fa fa-calendar-o size">
          <p>Drives</p>
        </i>
      </a>
    </div>
  </div>
</div>