  <!-- Author           :Rithika
       Date             :15-03-2019
       Description      :Html code for displaying all the  drives of the user -->
 
<div class="myDrives">

  <div class="flex flex-wrap -m-3" *ngFor="let myDrive of myDrives">

    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
      <div class="drives-border">
        <div class="bg-cover h-48"
          style="background-image: url(https://images.unsplash.com/photo-1523978591478-c753949ff840?w=900);"></div>
        <div class="p-4 flex-1 flex flex-col">
          <h3 class="mb-4 text-2xl">{{myDrive.heading}}</h3>
          <div class="mb-4 text-grey-darker text-sm flex-1">
            <p>{{myDrive.subheading}} </p>
          </div>
          <a  [routerLink]="['read']" [queryParams]="{id:myDrive._id }"
            class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide"
            >Read</a>
        </div>
      </div>
    </div>

  </div>
</div>