/**
 *  Author           :Rithika
    Date             :15-03-2019
    Description      :Css code for displaying all the completed drives of the user
 *  */
 
/* demo shizzle only */
.drives {
    background: #eee;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    height: 600px;
    overflow-y: scroll;
  /*   outline: 1px solid #ccc; */
  }
  
  /* Still use global css (not utility css) for base typography etc? */
  p {
    margin-bottom: 0.8em;
  }
  .drives-border{
    background-color: #b8cddd;
    border-radius: 15px 50px 30px;
  }