 <!-- Author         :Rithika
    Date             :15-03-2019
    Description      :Html code for displaying all the completed drives of the user 
-->

 
<div class="drives">
 
  <div class="flex flex-wrap -m-3"  *ngFor="let complitedDrive of complitedDrives">   
    
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
      <div class="drives-border">
        <!-- <div class="bg-cover h-48" style="background-image: url('complitedDrive.image');"></div> -->
        <div class="p-4 flex-1 flex flex-col">
          <h3 class="mb-4 text-2xl">{{complitedDrive.heading}}</h3>
          <div class="mb-4 text-grey-darker text-sm flex-1">
            <p>{{complitedDrive.subheading}} </p>
          </div>
          <a  [routerLink]="['read']" [queryParams]="{id:complitedDrive._id }" class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide" >Read</a>
        </div>
      </div>  
    </div>
      
  </div>
  </div>