/* Author      : Rithika
   Date        : 19-03-2018
   Description : css styles for displaying the complete details of the users 
*/
  @import url(https://fonts.googleapis.com/css?family=Roboto:900,300);

  .frame {
    width: 100%;
    margin: 80px auto 120px;
    background-color: #BFC9CA;
    padding: 0 20px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    
  }
  .container:hover .avatar-flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  .container:hover .avatar-flip img:first-child {
    opacity: 0;
  }
  .container:hover .avatar-flip img:last-child {
    opacity: 1;
  }
  .avatar-flip {
    border-radius: 100px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: -60px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 13px #f0f0f0;
    -webkit-box-shadow: 0 0 0 13px #f0f0f0;
    -moz-box-shadow: 0 0 0 13px #f0f0f0;
  }
  .avatar-flip img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
  }
  .avatar-flip img:first-child {
    z-index: 1;
  }
  .avatar-flip img:last-child {
    z-index: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    opacity: 0;
  }
  
  
  .profilepic_details{
  
      border-radius: 20%;
      margin: 1vw;
  }
  .card-title{
      text-align: center;
  }
  
  .card-text{
      text-align: justify;
  }
  #main{
    text-align: center;
    font-family: Optima, sans-serif;
    font-variant: small-caps;
  }
  #go_back{
    float:right;
    margin-right:10%;
  }
  .card-content{
    text-align: justify;
    margin: 0 auto;
    width: 25em;
    
  }