<!-- Author       : Rithika
     Date         : 16-03-2019
     Description  : Html doc for read article component -->
     
<div className="background">
  <div className="container"><br />
   
      <h3 id="main">Article details</h3>
      <p id="go_back">
        <a [routerLink]="['/article']" >
        <button>All Articles</button>
        </a>
      </p>
    <br />
    
    <section id="team" class="pb-5">
      <div class="container frame">
          <div class="avatar-flip">
              <img class='article-img' src="http://www.articlesxpert.com/wp-content/uploads/2017/10/seo-article.jpg" width="140" height="140" />
              <div class='img-holder'>
                <img class='article-img' src="https://www.seoclerk.com/pics/397551-101BiX1443638001.jpg" width="140" height="140" />
              </div>
            </div>
          <h5 class="card-title"></h5><br />
          <p class="card-title">
           </p> <p class="card-title">
              <b>Posted on :</b>{{articleData.timestamp}}
          </p><br />
          <p class="card-text">
            <b>Brief :</b>{{articleData.brief}}
          </p><br />
          <p class="card-text">
            <b>Description : </b>{{articleData.body}}
          </p>
       
      </div>
    </section>
  </div>

</div>