<!-- Author       : Rithika 
      Date        : 16-03-2019
      Description : Html doc for displaying the articles  -->

<div class="container">
  <a [routerLink]="['createarticle'] ">  <button class='create-article-btn'>Create article</button></a>
    <button class='delete-article-btn'>Deleted articles</button>
    <div class="searchbar-holder">
      <div class='searchbar-console flex-row'>
        <span>
          <input class="search-input-txt"
            type='text'
            name="searchUsers" (change)="onChange($event)"
            placeholder="Search"/>
      
        </span>
        <button class='search-btn site-btn' (click)="onSearch()"
        >Search
        </button>
      </div>
    </div>
    <div *ngIf="articles;else no_user">
        <div *ngIf="articles.length>0;else no_users">
<div class="w3-container" *ngFor="let article of articles" >
  <div class="w3-card-4" style="width:90%;margin-left: 5%;border-radius: 15px 50px 30px;">
    <div class="w3-container" style="background-color:#b8cddd;border-radius: 15px 50px 30px; ">
      <div class='img-holder'>
        <img src="https://cdn4.iconfinder.com/data/icons/instagram-ui-twotone/48/Paul-18-512.png" alt="Avatar" class="w3-left w3-circle w3-margin-right article-img" style="width:80px;margin-top:10px;">
      </div>
      <p class='article-header-txt'>{{article.heading}}</p>
       <p class='writer'> {{article.by.first_name}} {{article.by.last_name}}</p>
      <p class='article-brief'>{{article.brief}}</p>
      <div class='btn-holder'>
        <a [routerLink]="['read']" [queryParams]="{id:article._id }">
        <button class="edit-btn site-btn">Read</button>&nbsp;
        </a>
        <a [routerLink]="['edit']" [queryParams]="{id:article._id }">
        <button class="edit-btn site-btn">Edit</button>&nbsp;
      </a>           
      <button data-toggle="modal" data-target="#deleteArticle">Delete</button>
    </div>
    <br/>  <br/>
    </div>
    
  </div>
  <br/>
  <div class="modal" id="deleteArticle">
    <div class="modal-dialog">
    <div class="modal-content">
    
    <div class="modal-body">
     <h4>Do you want to delete article</h4>
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" >Delete</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
    
    </div>
    </div>
    </div>
</div>
</div>
<ng-template #no_users><h2 style="margin-left:45%">No articles</h2></ng-template></div>
<ng-template #no_user><h2 style="margin-left:45%">No articles</h2></ng-template></div>