/* Author      : Rithika
   Date        : 19-03-2018
   Description : css styles for displaying all the friends of the user  */
   
.article-txt-data{
	width: 100%;
}

 .writer
{
    font-weight: bold;
    font-family: Calibri;
    font-size: 20px;
    margin-left:12%;
    margin-top:-9%;
}

.article-txt-data .delete-btn-user{
	height: 2em !important;
	margin-left: auto;
	align-self: center;
}

.article-email-text{
	margin-top:30px;
	font-size:15px;
	
}
.article-card-holder .article-card {
    padding: 0.3em 0.3em;
    border-radius:0.3em;
    background-color: rgba(184, 205, 221, 1);
    margin-bottom: 1em; 
    width:70%;
  margin-left:15%;
}

.article-card-holder .article-card .article-card-topheader img {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    border: 2px solid rgba(18, 86, 141, 1);
    padding: 0.1em;
    margin-right: 0.3em;
    align-self: center;
    vertical-align: baseline;
}
.article-card-holder .article-card .article-card-topheader .article-txt-data .article-header-txt {
    font-weight: bold;
}

 .article-brief {
    text-align: justify;
    font-size: 0.9em;
    font-family: Calibri;
    margin-left:12%;
    margin-top:-2%;
}
    
.user-btn-holder .delete-btn-user{
    margin-left: 0.5em ;
}
#main{
    text-align: center;
    font-family: Optima, sans-serif;
    font-variant: small-caps;
  }
  #go_back{
    float:right;
    margin-right:10%;
  }