/**
 *  Author           :Rithika
    Date             :15-03-2019
    Description      :Css styles for displaying complete details of the drives
 *  */
 
#main{
    float:left
    }
    #go_back{
      float: right;
      margin-top: 10px;
    }
    .nav-item1 {
  
      text-align: center;
      padding : 0px 50px;
    }
    .navbar .navbar-nav .nav-link {
      color:black;
    }
  
    .navbar1{
      background-color: #99B4CA;
    }
    #tab{
      padding:0px;
   }
  .nav-tabs .nav-link.active {
     color: white;
     background-color: rgba(18, 86, 141, 0.5);
     border-color: #dee2e6 #dee2e6 #fff;
  }    
  

  
  .frame {
    width: 100%;
    margin: 80px auto 120px;
    background-color: #fff;
    padding: 0 20px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    
  }
  .container:hover .avatar-flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  .container:hover .avatar-flip img:first-child {
    opacity: 0;
  }
  .container:hover .avatar-flip img:last-child {
    opacity: 1;
  }
  .avatar-flip {
    border-radius: 100px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: -60px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 13px #f0f0f0;
    -webkit-box-shadow: 0 0 0 13px #f0f0f0;
    -moz-box-shadow: 0 0 0 13px #f0f0f0;
  }
  .avatar-flip img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
  }
  .avatar-flip img:first-child {
    z-index: 1;
  }
  .avatar-flip img:last-child {
    z-index: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    opacity: 0;
  }
  .h3 {
   font-size:25px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
  }
  .h5 {
    font-size: 13px;
    
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .a1 {
    width:25%;
    text-align: center;
  }